<div class="result xr {% if result['category'] %}category-{{ result['category'] }}{% endif %}">
  <div url="{{result.url}}" class="image_thumbnail" style="position:relative;z-index:1;border-radius:13px; background-color: #FFF3; background-image:url({% if result.thumbnail_src %}{{ image_proxify(result.thumbnail_src) }}{% else %}{{ image_proxify(result.img_src) }}{% endif %})" thumb="{% if result.thumbnail_src %}{{ image_proxify(result.thumbnail_src) }}{% else %}{{ image_proxify(result.img_src) }}{% endif %}" />
        <div class="title">
        {{ result.title|striptags }} <span style="color:#AAA">{{ result.parsed_url[1] }}</span>
        </div>
        <img class="visit" src="{{ url_for('static',filename='img/visit.png') }}" onclick="XRbookmark(event,true)"/>
        <img class="bookmark" src="{{ url_for('static',filename='img/xrbookmark2.png') }}" onclick="XRbookmark(event)"/>
  </div>
</div>
<script>
//parent.postMessage(JSON.stringify({title:'{{result.title|striptags}}',href:'{{result.url}}',img:'{{result.img_src}}'}),'*')"/>
function XRbookmark(e,visit){
  let img = e.target.parentElement
  let data = {
    type: visit ? "visit" : "xrbookmark",
    url: img.getAttribute("url"),
    img_src: img.getAttribute("thumb"),
    title: img.querySelector('.title').innerText
  }
  parent.postMessage( JSON.stringify(data),"*")
  return false;
}
</script>
