<!DOCTYPE html>
<html class="no-js" lang="en" {% if rtl %} dir="rtl"{% endif %}>
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="searxr — a privacy-respecting metasearch engine">
  <meta name="keywords" content="searxr, search, XR metasearch, bookmarking">
  <meta name="generator" content="searxr/{{ searx_version }}">
  <meta name="referrer" content="no-referrer">
  <meta name="robots" content="noarchive">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=1">
  <meta name="HandheldFriendly" content="True">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <title>{% block title %}{% endblock %}{{ instance_name }}</title>
  {% block meta %}{% endblock %}
  {% if rtl %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/searx-rtl.min.css') }}" type="text/css" media="screen" />
  {% else %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/searx.min.css') }}" type="text/css" media="screen" />
  {% endif %}
  {% block styles %}{% endblock %}
  <!--[if gte IE 9]>-->
  <script src="{{ url_for('static', filename='js/searx.head.min.js') }}"
          data-method="{{ method or 'POST' }}"
          data-autocompleter="{% if autocomplete %}true{% else %}false{% endif %}"
          data-search-on-category-select="{{ 'true' if 'plugins/js/search_on_category_select.js' in scripts else 'false'}}"
          data-infinite-scroll="{{ 'true' if 'plugins/js/infinite_scroll.js' in scripts else 'false' }}"
          data-static-path="{{ url_for('static', filename='themes/simple') }}/"
          data-translations="{{ translations }}"></script>
  <!--<![endif]-->
  {% block head %}
  <link title="{{ instance_name }}" type="application/opensearchdescription+xml" rel="search" href="{{ opensearch_url }}"/>
  {% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />

  <script>
    function interceptClickEvent(e) {
      var href;
      var target = e.target || e.srcElement;
      if( target.tagName != 'A' && target.parentElement.tagName == 'A' ) // dirty workaround for a>img
        target = target.parentElement
      href = target.getAttribute('href');
      if( !href || !String(href).match(/^http/) ) return true 
      parent.postMessage( JSON.stringify({href}),"*")
      return false
    }

    //listen for link click events at the document level
    if (document.addEventListener) {
      document.addEventListener('click', interceptClickEvent);
    } else if (document.attachEvent) {
      document.attachEvent('onclick', interceptClickEvent);
    }

    window.onSearch = function(e){
      $q = document.querySelector('#q')
      hasExt = /[a-zA-Z0-9_\/:\.]+\.\w+/
      asset = $q.value.match(hasExt)
      if( asset ){
        let href = asset[0]
        if( href.match(/\.(gltf|fbx|obj|usdz)/) ){
          if( !href.match(/^http/) ) href = `https://${href}`
          if( !confirm(`load scene at ${href}?`) ) return searx.loading()
        }
        parent.postMessage( JSON.stringify({href, type: 'file'}),"*")
        if( e && e.preventDefault) e.preventDefault()
        return false
      }else searx.loading()
    }
  </script>
</head>
<body class="{{ endpoint }}_endpoint" >
  <style type="text/css">
    main, #q {
      width:100% !important;
    }
    html, body{
      margin: auto auto;
      max-width: 600px;
      padding: 2%;
      font-size:1.3em;
    }
    body.results_endpoint {
      font-size:140%;
    }
    #logo{
      margin:50px 0px;
    }
    select{
      min-width:100px;
      font-size:0.6em;
    }
		.index{
			position:relative;
		}
    legend{
      font-weight:bold;
      padding:0px 15px;
      color:#777;
      background:#FFF;
      padding:6px;
      border-radius:4px;
      text-transform:translateY(10px);
    }
    .tabs>label{
      border-radius: 5px 5px 0px 0px;
    }
    fieldset{
      background:#FFF9;
      margin-bottom:20px;
      border-width:1px;
      border-radius:7px;
      border-style: solid;
      border-color: #CCC;
    }
    #search,
    #search_wrapper{
      padding:0;
    }
    footer p{
      font-size:0.6em;
    }
    #clear_search, #q, #send_search{
      background:#FFFB;
    }
    .search_box{
      width:100%;
    }
    .category{
      display: inline-block;
      margin: 5px 5px;
      padding: 0;
      max-width: 150px;
      font-weight:bold;
      border: 1px solid #AAA;
      border-radius: 5px;
    }
    .category input[type=checkbox]:checked+label{
      background:#888;
      color:#FFF;
    }
    #q{
      border-radius: 10px 0px 0px 10px;
    }
    #q, #clear_search, #send_search{
      font-size:25px;
      margin-bottom:50px;
    }
    #send_search{
      border-radius: 0px 10px 10px 0px;
    }
    #search{
      background:transparent !important;
			border-bottom:none;
    }
    .preferences_endpoint {
      font-size:1em;
    }
    .preferences_endpoint select {
      font-size:0.8em;
    }

    /* logo anim */
    svg#logo {
        transform: scale(1);
        transform-origin: center;
    }

    svg#logo path{
        transform:scale(1);
    }

    svg#logo path:nth-child(1){
        animation: hideshow 5s ease 1;
        animation-delay: 0.1s;
    }
    svg#logo path:nth-child(3){
        animation: hideshow 5s ease 1;
          animation-delay: 0.5s;
    }
    svg#logo path:nth-child(2){
        animation: hideshow 5s ease 1;
          animation-delay: 0.3s;
    }
    svg#logo path:nth-child(4){
        animation: hideshow 5s ease 1;
          animation-delay: 0.4s;
    }
    svg#logo path:nth-child(5){
        animation: hideshow 5s ease 1;
          animation-delay: 0.5s;
    }
    svg#logo path:nth-child(6){
        animation: hideshow 5s ease 1;
        animation-delay: 0.5s;
    }

    @keyframes hideshow {
      0% { transform:translate(-40%, 0%);   clip-path: inset(50% 0% 50% 0%); opacity:0}
      10% { transform:translate(40%, 0%);   clip-path: inset(50% 0% 50% 0%);}
      30% { transform:translate(0%, 0%);   clip-path: inset(-20% -20% -20% -20%);opacity:1; }
      70% { transform:translate(0%, 0%);   clip-path: inset(-20% -20% -20% -20%);opacity:1; }
      95% { transform:translate(-40%, 0%); clip-path: inset(50% 0% 50% 0%);opacity:0;}
      100% { transform:translate(40%, 0%); clip-path: inset(50% 0% 50% 0%);opacity:0;}
    } 

    .result .category-WebXR img{
      border-radius:12px;
      border-bottom: none;
    }
    .result{
      border-bottom:none !important;
    }
    #results{
      width:auto;
      margin:0;
      margin-top:1.5em;
    }
    img.visit,
    img.bookmark {
      opacity:0.7;
			cursor: pointer;
			width: 18%;
			max-width: 80px;
			position: absolute;
			right: 15px;
			z-index: 100;
    }
    img.visit{ top: 15px; }
    img.bookmark{ top: 135px; }
    img.visit:hover,
    img.bookmark:hover {
      opacity:1.0;
    }
    .xr .image_thumbnail{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height:195px;
      margin-bottom:55px;
    }

    #urls{
      column-count:2;
      column-gap:30px;
    }
    @media screen and (max-width: 40em) {
      #urls {
        column-count:1;
      }
    }
    .xr .image_thumbnail .title{
      font-size: 16px; 
      font-weight:700;
    }

		.xr .image_thumbnail .title{
			position:relative;
			bottom:-210px;
			left: 0px; 
			right: 0px;
		}

		.title > span {
			color: #FFF !important;
			background: linear-gradient(45deg,#07fa,#70Fa,#A0Fa,#F07a);
			border-radius: 4px;
			font-size: 12px;
			padding: 2px 5px 1px;
			display:inline-block;
      font-weight:500;
		}

    .index{
      margin-top:25vh;
    }
    @keyframes fade {
      from { opacity: 1.0; }
      50% { opacity: 0.5; }
      to { opacity: 1.0; }
    }
    @-webkit-keyframes fade {
      from { opacity: 1.0; }
      50% { opacity: 0.5; }
      to { opacity: 1.0; }
    }
    .blink {
      animation:fade 1000ms infinite;
      -webkit-animation:fade 1000ms infinite;
    }
  </style>
  <main id="main_{{  self._TemplateReference__context.name|replace("simple/", "")|replace(".html", "") }}">
    {% if errors %}
        <div class="dialog-error" role="alert">
            <a href="#" class="close" aria-label="close" title="close">×</a>
            <ul>
            {% for message in errors %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>
    <!--
			{{ _('Powered by ⚡') }} <a href="https://gitlab.com/searxr/aframe-searxr" target="_blank">opensource</a> <a href="https://github.com/searx/searx" target="_blank">searx</a> - {{ _('privacy-respecting metasearch') }} | <a href="mailto:leonvankammen@gmail.com">contact</a>
		<br>
    -->
    </p>
  </footer>
  <!--[if gte IE 9]>-->
  <script src="{{ url_for('static', filename='js/searx.min.js') }}"></script>
  <!--<![endif]-->
</body>
</html>
