{% extends "searxr/base.html" %}
{% from 'searxr/macros.html' import icon %}
{% block meta %}
  <link rel="preload" href="{{ url_for('static', filename='img/searx.png') }}" as="image" />
{% endblock %}
{% block content %}
{% if False %}
<nav id="linkto_preferences"><a href="{{ url_for('preferences') }}">{{ icon('navicon-round') }}</a></nav>
{% endif %}
<div class="index">
    <svg id="logo" width="100%" version="1.1" viewBox="0 0 93.431 14.791" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
            <rdf:rdf>
                    <cc:work rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
                    <dc:title></dc:title>
                    </cc:work>
            </rdf:rdf>
            </metadata>
            <g transform="translate(-7.216 -15.973)">
            <g transform="scale(.26458)" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal" aria-label="SEARXR">
                    <path d="m44.534 94.853c-4.7838 0-8.8566-1.6162-12.218-4.8485-3.3616-3.3616-5.0424-7.4343-5.0424-12.218 0-4.6545 1.6808-8.6626 5.0424-12.024 3.3616-3.4909 7.4343-5.2364 12.218-5.2364h35.818v13.77h-35.818c-2.3273 0-3.4909 1.1636-3.4909 3.4909 0 0.90505 0.32323 1.6808 0.9697 2.3273s1.4869 0.9697 2.5212 0.9697h20.558c4.6545 0 8.6626 1.7455 12.024 5.2364 3.3616 3.3616 5.0424 7.3697 5.0424 12.024 0 4.7838-1.6808 8.8566-5.0424 12.218-3.3616 3.3616-7.3697 5.0424-12.024 5.0424h-37.818v-13.964h37.818c0.77576 0 1.4869-0.32323 2.1333-0.9697 0.77576-0.64646 1.1636-1.4222 1.1636-2.3273s-0.38788-1.6808-1.1636-2.3273c-0.64646-0.77576-1.3576-1.1636-2.1333-1.1636z" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"></path>
                    <path d="m88.56 101.76c2.228 0.0319 20.915 0.0701 23.501 0.0701h27.539v13.77h-27.539c-7.6283 0-14.158-2.6505-19.588-7.9515-2.3805-2.6956-4.3636-6.1619-3.9129-5.8886z" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"></path>
                    <path d="m217.02 88.065c0-7.6283 2.6505-14.093 7.9515-19.394 5.4303-5.4303 11.96-8.1455 19.588-8.1455h11.345v13.77h-11.345c-3.8788 0-7.1758 1.3576-9.8909 4.0727-2.5859 2.7152-3.8788 5.9475-3.8788 9.697v27.539h-13.77z" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"></path>
                    <path d="m305.27 96.916c2.6388 2.6131 6.1625 5.8483 8.0205 6.0162 6.2176 0.5621 15.768-0.2446 15.789-1.2938 0.19744-9.8484 1.7581 1.148 2.0983-1.4476 0.90337-6.8932-2.6636 14.559-3.9566 15.981-0.56362 0.19653-8.3622 0.0541-17.265 0.0445-4.8286-1.4761-10.377-6.9635-13.544-9.6035v-3e-5c-2.5859-2.5859-6.0123-6.1371-8.5982-8.8522-2.7152 2.7151-5.3657 5.3657-7.9515 7.9515-2.5859 2.5858-7.9926 7.3758-7.9515 7.9377 0.17222 2.3529-0.32716 2.0732-2.2666 2.0732s-6.2267-0.0523-8.4125-0.0952l-9.5644 0.0469c1.009-1.7842 9.2536-10.609 10.547-11.902l15.709-15.709c-2.7152-2.5859-5.3656-5.1717-7.9515-7.7576s-1.8031-1.9105-5.7779-5.0045c-1.5455-1.3561-5.5195-0.97662-8.3385-1.0401 0 0-0.25027-13.871 0.0543-13.737 5.0179-0.22267 9.2136 0 11.153 0 1.8101 0 3.4263 0.71111 4.8485 2.1333l7.9515 7.9515c2.5858 2.5859 5.2364 5.1717 7.9515 7.7576l15.709-15.709c1.4222-1.4222 3.0384-2.1333 4.8485-2.1333 1.9394 0 6.2188-0.0094 8.6313-0.01802 4.8908-0.11603 3.9969-0.2024 4.041 2.1962 0.0818 4.4449-6.5309 8.3592-7.8238 9.6521l-15.709 15.709c2.5859 2.7152 5.1717 6.2664 7.7576 8.8522" fill="#aaa" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"></path>
                    <path d="m325.52 88.065c0-7.628 2.6505-14.093 7.9515-19.394 5.4303-5.4303 11.96-8.1455 19.588-8.1455h27.345v13.77h-27.345c-3.8788 0-7.1758 1.3576-9.8909 4.0727-2.5859 2.7151-4.6093 3.1425-4.7584 17.807-0.0722 7.1085-0.16984 20.066-0.16984 20.066l-12.721 1e-5z" fill="#aaa" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"></path>
                    <path d="m205.88 109.12v-0.51432s-18.33-33.327-22.389-38.176-8.6254-1.7144-8.6254-1.7144l-17.52 30.119-4.8026 10.068 1e-5 0.17144" fill="none" stroke="#000" stroke-linecap="square" stroke-linejoin="bevel" stroke-width="13.232"></path>
            </g>
            </g>
            <path d="m16.128 3.6618c0.58949-0.0084 5.5337-0.01855 6.2179-0.01855h7.2863v-3.6433h-7.2863c-2.0183 0-3.7459 0.70127-5.1826 2.1038-0.62982 0.7132-1.1545 1.6303-1.0353 1.558z" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal"></path>
            <path d="m23.66 5.8856-5.9113-0.04493s-1.8872 0.04494-1.8423 1.5727c0.04493 1.5278 1.8772 1.4828 1.8772 1.4828h5.8764z" stroke="#000" stroke-width=".26458px"></path>
    </svg>	
    {% include 'searxr/search.html' %}
</div>
{% endblock %}
