<form id="search" method="{{ method or 'POST' }}" action="{{ url_for('search') }}" onsubmit="return onSearch()">
  <div id="search_wrapper">
    <div class="search_box">
      <input id="q" name="q" type="text" placeholder="{{ _('Search for...') }}" tabindex="1" autocomplete="off" spellcheck="false" dir="auto" {% if q %}value="{{ q }}"{% endif %} >
      <button id="clear_search" type="button" tabindex="-1"><span class="hide_if_nojs">{{ icon('close') }}</span><span class="show_if_nojs">{{ _('Clear search') }}</span></button>
      <button id="send_search" type="submit" tabindex="-1"><span class="hide_if_nojs">{{ icon('search') }}</span><span class="show_if_nojs">{{ _('Start search') }}</span></button>
      {% if request.path == "/" %}
      <input type="hidden" name="category_XR" value="on"/>
      {% endif %}
    </div>
  </div>
  {% if not request.path == "/" %}
    {% set display_tooltip = true %}
    {% include 'searxr/categories.html' %}
		{% if False %}
    <div class="search_filters">
      {% include 'searxr/languages.html' %}
      {% include 'searxr/time-range.html' %}
    </div>
		{% endif %}
  {% endif %}
  <input type="hidden" name="safesearch" value="{{ safesearch }}" >
  <input type="hidden" name="theme" value="{{ theme }}" >
  {% if timeout_limit %}<input type="hidden" name="timeout_limit" value="{{ timeout_limit|e }}" >{% endif %}
</form>

<script>
  
    function typerify(element, config) {
      const { speed, sleep, lines, prop } = config;
      let currentLine = 0;

      function typeLine(line) {
        return new Promise(resolve => {
          let count = 0;
          const intervalId = setInterval(() => {
            if (count >= line.length) {
              clearInterval(intervalId);
              setTimeout(resolve, sleep);
            } else {
              element[prop] += line[count];
              count++;
            }
          }, speed);
        });
      }

      async function typeText() {
        if (currentLine >= lines.length) {
          currentLine = 0;
        }
        const line = lines[currentLine];
        element[prop] = "";
        await typeLine(line);
        currentLine++;
        typeText();
      }

      typeText();
    }

    let el = document.querySelector('#q')
    if( !el.value ){
      typerify( el ,{
        speed: 50,
        sleep: 1500,
        lines: [
          "Search here..",
          "Or enter an URL to a .gltf .fbx .obj e.g"
        ],
        prop: 'placeholder'
      })
    }
</script>
