<html>
  <head>
    <title>WebVR Directory</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <meta property="title" content="WebVR Directory">
    <meta property="og:title" content="WebVR Directory">
    <meta property="twitter:title" content="WebVR Directory">
    <meta name="description" content="Discover the best virtual reality sites made with WebVR!"/>
    <meta name="og:description" content="Discover the best virtual reality sites made with WebVR!"/>
    <meta name="twitter:description" content="Discover the best virtual reality sites made with WebVR!"/>
    <meta property="og:image" content="https://user-images.githubusercontent.com/674727/36626056-3f59cd02-18e0-11e8-9d6b-a782649ee896.jpg">
    <meta property="twitter:image" content="https://user-images.githubusercontent.com/674727/36626056-3f59cd02-18e0-11e8-9d6b-a782649ee896.jpg">

    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon"></link>
    <link rel="stylesheet" href="css/index.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Sanchez|Source+Sans+Pro:400,600" rel="stylesheet"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <h1>WebVR Directory by <a href="https://supermedium.com">Supermedium</a></h1>
      </div>

      <input id="search" type="search" placeholder="Search the VR Web..." v-on:keyup="search"></input>

      <ul class="sites">
        <li class="site" v-for="site in sites">
          <a class="siteImage" v-bind:href="site.url">
            <img class="siteImage" v-bind:src="site.image">
            <img class="siteLogo" v-bind:src="site.logo">
          </a>
          <div class="siteInfo">
            <h3 class="siteTitle" v-bind:title="site.title">{{ site.title }}</h3>
            <p class="siteAuthor" v-bind:title="site.author">by {{ site.author }}</p>
            <p class="siteDescription">{{ site.description }}</p>
          </div>
        </li>
      </ul>
    </div>

    <script src="js/app.js"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111391431-6"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-111391431-6');
		</script>

    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"b0a30b8dfdca68863a7e4bdb9","lid":"6495d4ef01"}) })</script>
  </body>
</html>
