/* SPDX-License-Identifier: CPAL-1.0                    */
/* Copyright Contributors to the aframe-searxr project. */

:root {
    --color-a: black;
    --color-at: #000000CC;
    --color-b: #222;
    --color-c: #444;
    --color-d: #888;
    --color-e: #F0A;
    --color-f: #CCC;
    --color-g: #FFF;
    --color-gt: #FFF5;
    --params-width: 320px;
		--font-1: 'Montserrat', sans-serif;
		--font-2: monospace,  courier;
		--font-size-1: 57px;
		--font-size-2: 26px;
    --font-size-3: 18px;
    --font-size-4: 15px;
    --gutter-1: 10%;
    --gradient-1: linear-gradient(45deg, #dc2454 0%, #944a9d 51%, #4824dc 100%);
    --gradient-2: linear-gradient(45deg, #dc2454 0%, #944a9d 21%, #4824dc 50%,#dc2454 70%, #944a9d 88%, #4824dc 100%);
}

* {
    font-family: var(--font-1);
    font-size: var(--font-size-3);
    font-weight: 500;
    color: var(--color-c);
}

h2{
  text-align: left;
  font-size: var(--font-size-2);
  position: absolute;
  top: 20px;
  left: 28px;
}

iframe{
  width:100%;
  height:99vh;
  z-index:10;
  position:absolute;
  top:0;
  left:0;
}

.a-loader-title {
    color: white;
    background:transparent !important;
}

html,body{
  overflow:hidden
}

#footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(0deg, white, white, transparent);
  padding-top: 4%;
  height: 7.5%;
  z-index:1000;
}
#footer *{
  font-size: var(--font-size-4) !important;
	font-weight:300;
}

#head{
	margin: auto auto;
	max-width: 573px;
	padding: 2% 2% 0 0;
	top: 0;
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
}

#head #logo{
	margin:auto auto;
	margin-top:20vh !important;
}

#footer > div {
  position:relative;
}


/* hamburger menu */
.sidemenu {
  z-index:1000;
	position:absolute;
	top:0;
	left:0;
}

.sidemenu nav {
	min-width: 250px;
	box-shadow: 0px 0px 158px #000c; 
	background:#FFF;
	z-index:10;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height:100vh;
}

.sidemenu#bookmarks nav {
  width:50%;
  left:unset;
  right:0;
  z-index:-1;
  padding-right:20px;
}

.sidemenu#bookmarks #wrapper{
  overflow-y:  auto;
  height:82vh;
  padding-right:20px;
}

.sidemenu#bookmarks ul {
  column-count:2;
  column-gap:10px;
  width:100%;
}

.sidemenu#bookmarks li {
  width:100%;
  position:relative;
  display:inline-block;
  padding:0px;
  margin:0px;
}

.sidemenu#bookmarks ul li a{
  font-size: var(--font-size-4);
}

.sidemenu#bookmarks {
  left:unset;
  right:40px;
}

.sidemenu .sidemenu__btn {
  display: block;
  width: 50px;
  height: 50px;
  top:20px;
  left:20px;
  background: radial-gradient(#FFF8, #0000 80%);
  border: none;
  position: relative;
  z-index: 1001;
  -webkit-appearance: none;
     -moz-appearance: none;
  		appearance: none;
  cursor: pointer;
  outline: none;
}
.sidemenu .sidemenu__btn span {
  display: block;
  width: 30px;
  height: 3px;
  margin: auto;
  background:#000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.sidemenu .sidemenu__btn span.top {
  -webkit-transform: translateY(-8px);
  		transform: translateY(-8px);
}
.sidemenu .sidemenu__btn span.bottom {
  -webkit-transform: translateY(8px);
  		transform: translateY(8px);
}
.sidemenu .sidemenu__btn.active .top {
  -webkit-transform: rotate(-45deg);
  		transform: rotate(-45deg);
}
.sidemenu .sidemenu__btn.active .mid {
  -webkit-transform: translateX(-20px) rotate(360deg);
  		transform: translateX(-20px) rotate(360deg);
  opacity: 0;
}
.sidemenu .sidemenu__btn.active .bottom {
  -webkit-transform: rotate(45deg);
  		transform: rotate(45deg);
}
.sidemenu .sidemenu__wrapper {
  padding-top: 70px;
  margin-left:20px;
}
.sidemenu .sidemenu__list {
  padding-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow:visible;
}
.sidemenu .sidemenu__item {
  padding: 0;
}
.sidemenu li > a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .4s ease;
  transition: .4s ease;
	cursor: pointer;
}

nav {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-transform: translateX(0px);
  		transform: translateX(0px);
  opacity:1;
}

nav.hide {
  -webkit-transform: translateX(-300px);
  		transform: translateX(-300px);
  opacity:0;
}

#bookmarks.sidemenu .sidemenu__wrapper {
  padding-top: 85px;
}

#bookmarks nav.hide {
  -webkit-transform: translateX(600px);
	transform: translateX(600px);
  opacity:0;
}

#bookmarks .sidemenu__btn.active span.app{
  display:none;
}

#bookmarks .sidemenu__btn span.top,  
#bookmarks .sidemenu__btn span.mid,  
#bookmarks .sidemenu__btn span.bottom { 
  display:none;
}

#bookmarks .sidemenu__btn.active span.top,  
#bookmarks .sidemenu__btn.active span.mid,  
#bookmarks .sidemenu__btn.active span.bottom { 
  display:block;
}

#bookmarks .sidemenu__btn {
  line-height: 0px;
}
#bookmarks .sidemenu__btn span.app{
  position:relative;
  display:inline-block;
  width:15px;
  height:10px;
  border-radius:3px;
  font-size:0px;
  line-height:0px;
  background:#0008;
}

ul {
	margin-left:30px;
}
ul:nth-child(1){
	margin:0;
}

ul,li{
	text-decoration:none !important;
	list-style:none;
	padding-left:10px;
	line-height:14px;
}

nav ul,li{
	line-height:30px;
}

li > a,
i > a.visited,
li > a.active{
	color:#555;
	padding:5px;
}
li > b {
	background:#FFF;
	padding:5px;
}

li{
	display:inline-block;
  margin-top:25px;
}

li > b {
	font-weight:100;
}

ul.sidemenu__list ul li{
  display: inline-block;
  border:1px solid #777;
  margin:12px 0px;
  line-height:16px;
  font-size:14px;
  font-weight:bold;
}

ul.sidemenu__list li img {
  border-radius:12px;
  background:#0001;
  cursor: pointer;
  box-shadow: 0px 0px 5px #000C;
}


.remove{
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 15px;
  top: 15px;
  color: #CCCC;
  font-weight: bold;
  border: 2px solid #CCCC;
  text-align: center;
  border-radius: 50%;
  line-height: 28px;
  cursor: pointer;  
}

/* notie overrides */

.notie-background-info {
  background: linear-gradient(45deg,#0AF,#A0F,#A0F,#F07) !important;
}

.notie-textbox-inner{
  color: #FFF;
  font-size: var(--font-size-2);
  font-weight:700;
}

@media only screen and (max-width:775px){
  .sidemenu#bookmarks ul {
    column-count:1;
  }
  iframe{
    top:50px;
  }
}

@media only screen and (max-width:445px){
  #footer #extra{
    display:none;
  }
  #footer{
    height:5.5%;
    padding-top:8%;
    padding-left:5%;
    padding-right:35%;
    text-align:left;
  }
}

